{% extends 'base.html' %}

{% block title %}
    Detail
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-8 mx-auto">
        <h1>Currency rate</h1>
        From: <h4>{{ currency.time_from.strftime("%d-%m-%Y") }}</h4>
        Before: <h4>{{ currency.time_before.strftime("%d-%m-%Y") }}</h4>
        Currency: <h4>{{ currency.currency.name }}</h4>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Currency</th>
            </tr>
          </thead>
          <tbody>
              {% for record in currency.data|str_to_dict %}
              <tr>
                  {% for col in record %}
                  <td>{{ record[col] }}</td>
                  {% endfor %}
              </tr>
              {% endfor %}

          </tbody>
        </table>
{% endblock %}
