{% extends 'base.html' %}

{% block title %}
    Index
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-8 mx-auto">
        <h3 class="mt-5">List</h3>
          {% for value in currency %}
          <ul class="list-group list-group-horizontal">
              <li class="list-group-item">{{ value.currency.name }}</li>
              <li class="list-group-item">{{ value.time_from.strftime('%d-%m-%Y') }}</li>
              <li class="list-group-item">{{ value.time_before.strftime('%d-%m-%Y') }}</li>
              <li class="list-group-item"><a href="{{ url_for('detail', currency_id=value.id) }}">view</a></li>
          </ul>
          {% endfor %}
    </div>
</div>
{% endblock %}
