{% extends 'base.html' %}

{% block title %}
    Prev
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-8 mx-auto">
        {% if errors %}
        <div class="alert alert-danger mt-5" role="alert">
            {{ errors['error'] }}
        </div>
        <a href="{{ url_for('index') }}">Back</a>
        {% endif %}
        {% if full_data['data'] %}
        <h1>Currency rate</h1>
        From: <h4>{{ full_data['from_date'] }}</h4>
        Before: <h4>{{ full_data['before_date'] }}</h4>
        Currency code: <h4>{{ full_data['currency'] }}</h4>
        <form action="{{ url_for('index') }}" method="post">
            <button type="submit" value="save" name="save" class="btn btn-success mt-2 mb-2">Save</button>
        </form>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Currency</th>
            </tr>
          </thead>
          <tbody>
              {% for record in full_data['data'] %}
              <tr>
                  {% for col in record %}
                  <td>{{ record[col] }}</td>
                  {% endfor %}
              </tr>
              {% endfor %}

          </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}
